<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.itwillbs.mapper.boardMapper">

	<select id="boardList" resultType="com.my.domain.BoardVO">
		select * from board
	</select>
	
	<insert id="writeS">
		insert into sports(writer, title, content, category, grade, division)
		values(#{writer}, #{title}, #{content}, #{category}, #{grade}, #{division})
	</insert>
	
	<select id="sportsList" resultType="com.my.domain.SportsVO">
		select * from sports
	</select>

</mapper>